<!DOCTYPE html>
<html>
<head>
	<script async defer
      src="https://maps.googleapis.com/maps/api/js?key= AIzaSyDKj2Q90H47u4LlFXgigZMOnXplH-3yFnY&callback=initMap">
    </script>
    <script type="text/javascript" src="/javascripts/createCentre.js"></script>
</head>
<body>
<div class="main-area col-md-12">
	<div class="col-md-2"></div>

	<div class="col-md-10 container" style="margin-top: 30px;" id="map"></div>
	<div class="form-group form-row col-md-12">
		<div class="col-md-2"></div>
		<div class="col-md-9" style="padding-top: 20px;">
			<label for="centre">Type the centre name</label>
			<input type="text" name="centre" id="centre" class="form-control" required>
			<button type="button" class="btn btn-primary btn-sm btn-block" id="findCentre">ENTER</button>
		</div>
	</div>
</div>
</body>
</html>



