<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Register</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="http://kendo.cdn.telerik.com/2017.2.621/styles/kendo.common.min.css">
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2017.2.621/styles/kendo.common-material.min.css" />
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2017.2.621/styles/kendo.material.min.css" />
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2017.2.621/styles/kendo.material.mobile.min.css" />
    <link rel="manifest" href="../manifest.json">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>

    <script type="text/javascript" src="http://kendo.cdn.telerik.com/2017.2.621/js/kendo.all.min.js"></script>

    <script type="text/javascript" src="http://kendo.cdn.telerik.com/2017.2.621/js/kendo.all.min.js"></script>

    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <script src="/javascripts/register.js"></script>
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <style type="text/css">
        /*Adding here for now*/

        .captchaStyle {
            left: 50%;
            margin-left: -156px;
            margin-top: 1em;
            padding-bottom: 0;
            position: relative;
        }
    </style>
</head>

<body>
    <div class="header">
        <h4>Night Duty</h4>
    </div>
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <fieldset>
            <form class="registerForm" action="/register" method="post">
                <div class="form-row col-md-12">
                    <h3 class="heading">Sign Up</h3>
                </div>
                <div class="form-row col-md-12 alert alert-danger fade in" style="visibility: hidden; position: absolute;">
                    <a href="#" class="close" data-dismiss="alert">&times;</a>
                    <strong>Error!</strong> <span class="message">A problem has been occurred while submitting your data.</span>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="firstName">Name</label>
                        <input type="text" name="firstName" id="firstName" class="form-control" placeholder="First name" required>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="lastName" style="color: white;">.</label>
                        <input type="text" name="lastName" id="lastName" class="form-control" placeholder="Last name" required>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="empCode">Employee Code</label>
                        <input type="text" name="empCode" id="empCode" class="form-control" required>
                        <small id="empCodeHelpBlock" class="form-text text-muted">
	  						Your unique 4-digit employee code</small>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="contact">Phone number</label>
                        <input type="text" id="contact" name="contact" class="form-control">
                    </div>
                </div>
                <div class="form-row form-group col-md-12">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" class="form-control" required minlength="4">
                    <small id="passwordHelpBlock" class="form-text text-muted">
	  					Your password must be 4-20 characters long, contain letters and numbers
					</small>
                </div>

                <div class="form-row form-group col-md-12">
                    <label for="confirmPassword"> Confirm Password</label>
                    <input type="password" id="confirmPassword" class="form-control" required minlength="4">
                    <small id="confirmPasswordHelpBlock" class="form-text text-muted">
	  					Re-enter the password
					</small>
                </div>
                <div class="form-group form-row col-md-12 g-recaptcha captchaStyle" data-sitekey="6Lfd_ycUAAAAAC83sUyFOoADW08cE2QV-eFo5t4a"></div>


                <div class="form-group form-row col-md-12">
                    <button type="submit" class="btn btn-primary btn-sm btn-block">REGISTER</button>
                    <p>Already have an account? <a href="/login"><span> Login</span></a></p>
                </div>

            </form>
        </fieldset>
    </div>
    <div class="col-md-3"></div>
<script src="/__/firebase/4.8.1/firebase-app.js"></script>
<script src="/__/firebase/4.8.1/firebase-messaging.js"></script>
<script src="/__/firebase/init.js"></script>

<script>
// [START get_messaging_object]
// Retrieve Firebase Messaging object.
console.log('script running');
const messaging = firebase.messaging();
// [END get_messaging_object]
// IDs of divs that display Instance ID token UI or request permission UI.
// const tokenDivId = 'token_div';
// const permissionDivId = 'permission_div';
// [START refresh_token]
// Callback fired if Instance ID token is updated.
messaging.onTokenRefresh(function() {
messaging.getToken()
.then(function(refreshedToken) {
  console.log('Token refreshed.');
  // Indicate that the new Instance ID token has not yet been sent to the
  // app server.
  setTokenSentToServer(false);
  // Send Instance ID token to app server.
  sendTokenToServer(refreshedToken);
  // [START_EXCLUDE]
  // Display new Instance ID token and clear UI of all previous messages.
  resetUI();
  // [END_EXCLUDE]
})
.catch(function(err) {
  console.log('Unable to retrieve refreshed token ', err);
  // showToken('Unable to retrieve refreshed token ', err);
});
});
// [END refresh_token]
// [START receive_message]
// Handle incoming messages. Called when:
// - a message is received while the app has focus
// - the user clicks on an app notification created by a sevice worker
//   `messaging.setBackgroundMessageHandler` handler.
messaging.onMessage(function(payload) {
console.log("Message received. ", payload);
// [START_EXCLUDE]
// Update the UI to include the received message.
// appendMessage(payload);
    var n = new Notification('Emogotchi says',options);
    setTimeout(n.close.bind(n), 60000*30);
// [END_EXCLUDE]
});
// [END receive_message]
function resetUI() {
// clearMessages();
// showToken('loading...');
// [START get_token]
// Get Instance ID token. Initially this makes a network call, once retrieved
// subsequent calls to getToken will return from cache.
    messaging.getToken()
    .then(function(currentToken) {
      if (currentToken) {
        sendTokenToServer(currentToken);
        // updateUIForPushEnabled(currentToken);
      } else {
        // Show permission request.
        console.log('No Instance ID token available. Request permission to generate one.');
        // Show permission UI.
        updateUIForPushPermissionRequired();
        setTokenSentToServer(false);
      }
    })
    .catch(function(err) {
      console.log('An error occurred while retrieving token. ', err);
      // showToken('Error retrieving Instance ID token. ', err);
      setTokenSentToServer(false);
    });
}
// [END get_token]
// function showToken(currentToken) {
// // Show token in console and UI.
// var tokenElement = document.querySelector('#token');
// tokenElement.textContent = currentToken;
// }
// Send the Instance ID token your application server, so that it can:
// - send messages back to this app
// - subscribe/unsubscribe the token from topics
function sendTokenToServer(currentToken) {
    if (!isTokenSentToServer()) {
      console.log('Sending token to server...');
      setTokenSentToServer(true);
    } else {
      console.log('Token already sent to server so won\'t send it again ' +
          'unless it changes');
    }
}
function isTokenSentToServer() {
    return window.localStorage.getItem('sentToServer') == 1;
}
function setTokenSentToServer(sent) {
    window.localStorage.setItem('sentToServer', sent ? 1 : 0);
}
// function showHideDiv(divId, show) {
//     const div = document.querySelector('#' + divId);
//     if (show) {
//       div.style = "display: visible";
//     } else {
//       div.style = "display: none";
//     }
// }
function requestPermission() {
    console.log('Requesting permission...');
    // [START request_permission]
    messaging.requestPermission()
    .then(function() {
      console.log('Notification permission granted.');
      // TODO(developer): Retrieve an Instance ID token for use with FCM.
      // [START_EXCLUDE]
      // In many cases once an app has been granted notification permission, it
      // should update its UI reflecting this.
      resetUI();
      // [END_EXCLUDE]
    })
    .catch(function(err) {
      console.log('Unable to get permission to notify.', err);
});
// [END request_permission]
}
function deleteToken() {
// Delete Instance ID token.
// [START delete_token]
    messaging.getToken()
    .then(function(currentToken) {
      messaging.deleteToken(currentToken)
      .then(function() {
        console.log('Token deleted.');
        setTokenSentToServer(false);
        // [START_EXCLUDE]
        // Once token is deleted update UI.
        resetUI();
        // [END_EXCLUDE]
      })
      .catch(function(err) {
        console.log('Unable to delete token. ', err);
      });
      // [END delete_token]
    })
    .catch(function(err) {
      console.log('Error retrieving Instance ID token. ', err);
      // showToken('Error retrieving Instance ID token. ', err);
    });
}
// Add a message to the messages element.
// function appendMessage(payload) {
//     const messagesElement = document.querySelector('#messages');
//     const dataHeaderELement = document.createElement('h5');
//     const dataElement = document.createElement('pre');
//     dataElement.style = 'overflow-x:hidden;'
//     dataHeaderELement.textContent = 'Received message:';
//     dataElement.textContent = JSON.stringify(payload, null, 2);
//     messagesElement.appendChild(dataHeaderELement);
// messagesElement.appendChild(dataElement);
// }
// Clear the messages element of all children.
function clearMessages() {
    const messagesElement = document.querySelector('#messages');
    while (messagesElement.hasChildNodes()) {
      messagesElement.removeChild(messagesElement.lastChild);
    }
}
// function updateUIForPushEnabled(currentToken) {
// showHideDiv(tokenDivId, true);
// showHideDiv(permissionDivId, false);
// showToken(currentToken);
// }
// function updateUIForPushPermissionRequired() {
// showHideDiv(tokenDivId, false);
// showHideDiv(permissionDivId, true);
// }
// resetUI();
    </script>
</body>

</html>
