<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Register</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="/stylesheets/register.css">
	<script type="text/javascript" src="/javascripts/register.js"></script>
</head>
<body>
	<div class="col-md-3"></div>
	<div class="col-md-6">
		<form>
			<div class="form-row">
				<div class="form-group col-md-6">
					<label for="firstName">Name</label>
					<input type="text" name="firstName" id="firstName" class="form-control" placeholder="First name">
				</div>
				<div class="form-group col-md-6">
					<label for="lastName" style="color: white;">.</label>
					<input type="text" name="lastName" id="lastName" class="form-control" placeholder="Last name">
				</div>
			</div>	
			<div class="form-row">
				<div class="form-group col-md-6">
					<label for="empCode">Employee Code</label>
					<input type="text" name="empCode" id="empCode" class="form-control">
				</div>
				<div class="form-group col-md-6">
					<label for="designation">Designation</label>
					<select id="designation" class="form-control">
			        <option selected>Choose...</option>
			        <option>Scientist B</option>
			        <option>Scientist C</option>
			        <option>Scientist D</option>
			        <option>Scientist E</option>
				</div>
			</div>	


		</form>
	</div>
	<div class="col-md-3"></div>
</body>
</html>