<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Register</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
	<!-- <script type="text/javascript" src="/javascripts/register.js"></script> -->
</head>
<body>
	<div class="header">
		<h4>Night Duty</h4>
	</div>
	<div class="col-md-3"></div>
	<div class="col-md-6">
		<fieldset>
			<form method="POST">
				<div class="form-row col-md-12">
					<h3 class="heading">Sign Up</h3>
				</div>
				<div class="form-row">
					<div class="form-group col-md-6">
						<label for="firstName">Name</label>
						<input type="text" name="firstName" id="firstName" class="form-control" placeholder="First name" required>
					</div>
					<div class="form-group col-md-6">
						<label for="lastName" style="color: white;">.</label>
						<input type="text" name="lastName" id="lastName" class="form-control" placeholder="Last name" required>
					</div>
				</div>

				<div class="form-row">
					<div class="form-group col-md-6">
						<label for="empCode">Employee Code</label>
						<input type="text" name="empCode" id="empCode" class="form-control" required>
						<small id="empCodeHelpBlock" class="form-text text-muted">
	  						Your unique 4-digit employee code</small>
					</div>
					<div class="form-group col-md-6">
						<label for="designation">Designation</label>
						<select id="designation" class="form-control" required>
				        <option selected>Choose...</option>
				        <option>Scientist B</option>
				        <option>Scientist C</option>
				        <option>Scientist D</option>
				        <option>Scientist E</option>
				    	</select>
					</div>
				</div>

				<div class="form-row form-group col-md-12">
					<label for="phoneNumber">Phone number</label>
					<input type="text" id="phoneNumber" name="phoneNumber" class="form-control">
				</div>

				<div class="form-row form-group col-md-12">
					<label for="password">Password</label>
					<input type="password" id="password" name="password" class="form-control" required minlength="4">
					<small id="passwordHelpBlock" class="form-text text-muted">
	  					Your password must be 4-20 characters long, contain letters and numbers
					</small>
				</div>

				<div class="form-row form-group col-md-12">
					<label for="confirmPassword"> Confirm Password</label>
					<input type="password" id="confirmPassword" name="confirmPassword" class="form-control" required minlength="4">
					<small id="confirmPasswordHelpBlock" class="form-text text-muted">
	  					Re-enter the password
					</small>
				</div>

				<div class="form-group form-row col-md-12">
					<button type="submit" class="btn btn-primary btn-sm btn-block">REGISTER</button>
				</div>

			</form>
		</fieldset>
	</div>
	<div class="col-md-3"></div>
</body>
</html>