<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Welcome</title>
	<script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
	<script type="text/javascript" src="javascripts/uploadTest.js"></script>

</head>
<body>
 	<div class="header">
		<h4>Night Duty</h4>
	</div>
	<div class="col-md-3"></div>
	<div class="col-md-6 home">
		<p class="text-center">Welcome <%= name %>. Please click your picture.</p>
		<div class="camera">
			<video id="video">Video stream not available.</video>
			<button id="startbutton">Take photo.</button>
		</div>
		<canvas id="canvas"></canvas>
		<div class="output">
			<img id="photo" alt="The screen capture will appear in this box.">
		</div>
	</div>
	<div class="col-md-3"> </div>
</body>
</html>