<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>User</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="http://kendo.cdn.telerik.com/2017.2.621/styles/kendo.common.min.css">
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2017.2.621/styles/kendo.common-material.min.css" />
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2017.2.621/styles/kendo.material.min.css" />
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2017.2.621/styles/kendo.material.mobile.min.css" />
    <script type="text/javascript" src="http://kendo.cdn.telerik.com/2017.2.621/js/kendo.all.min.js"></script>

    <link rel="stylesheet" type="text/css" href="/stylesheets/dashboard.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <script type="text/javascript" src="/javascripts/dashboard.js"></script>
</head>

<body>
    <div class="header">
        <h4>Night Duty</h4>
    </div>
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <fieldset>
            <form method="GET">
                <div class="form-row col-md-12">
                    <h3 class="heading">Your scheduled duties</h3>
                </div>
                <div class="form-group col-md-12">
                    <!--  <label for="scheduleDutyDetails">Select Centre</label><br>-->
                    <select id="scheduleDutyDetails" name="centreCode" class="form-control" required>
                    </select>
                </div>


                <div class="form-group form-row col-md-12">
                    <button type="submit" class="btn btn-primary btn-sm btn-block">MARK YOUR ATTENDANCE</button>
                </div>
            </form>
        </fieldset>
    </div>
    <div class="col-md-3"></div>
</body>

</html>